*,*:before,*after{
    box-sizing: inherit;
}

.main{
	width: 100%;
	height: 732px;
	/*border: solid red 1px;*/
	background-image: url(https://stmed.net/sites/default/files/pizza-wallpapers-28292-7035689.jpg);
	background-size: cover;
	background-position: top center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.login{
	width: 350px;
	height: 350px;
	padding: 50px;
	border-radius: 25px;
    background-color: rgba(250,244,227,0.5);
    font-family: 'Ubuntu', sans-serif; 
}

